.head{
  background-color: rgb(0, 0, 0);
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav{ 
  position:fixed;
  
  padding: 0px;
  color: white;
  background-color: rgba(0, 0, 0, 0.854);
 } 
.fav{
  margin-top: 30px;
}
.yt{
  color: red;
  font-size: 50px;
}
.first{
  display: flex;
  align-items: center;
  
  width: 700px;
  color: white;

}
h1{
  color: white;
}
.search{
  display: flex;
  align-items: center;
  color: grey;
  background-color: white;
  border-radius: 80px;

}
.searchbox{
  border-radius: 12px;
  border: 1px solid black;
  padding: 5px;
  width: 250px;
}
.sicon{
  color: black;
  font-size: 20px;
}
.vid,.bel,.profile{
  color: white;
  font-size: 20px
}
.last{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 200px;
}
.mn{
  display: block;
  margin-right: 100px;
}
ul li{
  list-style-type: none;
  margin-top: 70px;
  padding: 10px;
}
.cont{
  background-color:black;
}
.ulist{
 padding: 0px;
  margin-top: 70px;
}
.ulist li:hover{
  background-color: grey;
}
.nav{
  position: sticky;
  left: 0;
}
.navigate{
  background-color: black;
  padding: 0px;
  position: fixed;
  height: 100vh;
}
.menu{
  border: 1px solid white;
  margin: 5px;
  width: 20px;
}
.grid{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-left: 120px;
}
.col{
  background-color: black;
  color: white;
  margin: 20px;
  font-weight: bolder;
  font-size: 20px;

}
.col h1{
  color: black;
}
.mic{
  color: white;
  padding: 3px;
  border-radius: 50%;
  background-color: grey;
}
iframe{
  border-radius: 20px;
}